.list {
    color: white;
    background-color: #473C8B;
    margin: 10px auto;
    width: 40%;
    /* display: flex;
    justify-content: center; */
}
.list p {
    padding: 10px 5px;
}














